<html>
    <head>
        <title>Anya's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Anya's Blog</a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ 11.23.18, 1:12 }}</p>
                <h2><a href="">{{ My first post }}</a></h2>
                <p>{{ This is my first HTML website. I'm using django to create it.|linebreaksbr }}</p>
            </div>
        {% endfor %}

        <div>
            <p>published: 11.23.18, 1:13</p>
            <h2><a href="">My second post</a></h2>
            <p>Using the terminal is really fun but can be complicated too.</p>
        </div>
    </body>
</html>
